<div class="morning">
	<div class="morningTime">
		<p>
			09:00 - 12:00
		</p>
	</div>
	<div class="morningText">
		<p class="morningText__teacher"></p>
		<p></p>
		<p class="morningText__subject"></p>
		<p></p>
	</div>
</div>
<div class="afternoon">
	<div class="afternoonTime">
		<p>
			13:00 - 16:00
		</p>
	</div>
	<div class="afternoonText">
		<p class="afternoonText__teacher">{{ tomorrowB2['design'][0].teacher }}
		</p>
		<p></p>
		<p class="afternoonText__subject">{{ tomorrowB2['design'][0].subject }}
		</p>
		<p></p>
	</div>
</div>
