@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
#finalView{
    display: flex;
    padding: 20px;
    .b1Content, .b2Content, .b3Content{
        display: flex;
    }
    .firstContainer{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        background-color: aqua;
        padding: 20px;
        align-items: center;
        .firstContainer__image{
            max-width: 150px;
            height: auto;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover   ;
            }
        }
        h1{
            font-size: 30px;
            font-family: "Montserrat";
            flex: 2;
            text-align: center;
        }
    }
    .secondContainer{
        padding: 20px;
        h2{
            font-size: 25px;
            font-family: "Montserrat";
            text-align: center;
        }
    }
    .thirdContainer{
        display: flex;
        .content{
            width: 85%;
            display: flex;
            flex-direction: column;
            >p{
                height: 40px;
            }
            .content__container{
                border: solid 1px black;
                display: flex;
                .defSchedule{
                    display: flex;
                    h3{
                        padding: 20px 10px;
                        display: flex;
                        align-items: center;
                        text-align: center;
                        color: rgb(0, 89, 255);
                        font-family: "Montserrat";
                    }
                    .today{
                        display: flex;
                        flex-direction: column;
                        .todayDate{
                            flex: 1;
                            background-color: aqua;
                            padding: 5px 0;
                            color: black;
                            font-family: "Poppins";
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 18px;
                        }
                        .staticInformations{
                            flex: 2;
                            background-color: rgb(60, 160, 253);
                            color: white;
                            font-family: "Poppins";
                            padding: 0 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            font-size: 18px;
                        }
                    }
                }
                .subjectTeacher{
                    display: flex;
                    width: 100%;
                    .morning{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        .morningTime{
                            flex: 1;
                            padding: 5px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(0, 22, 122);
                            p{
                                color: white;
                                font-size: 18   px;
                                font-weight: 700;
                                text-align: center;
                                font-family: "Poppins";
                            }
                        }
                        .morningText{
                            background-color: rgb(0, 195, 255);
                            flex: 2;
                            display: flex;
                            flex-direction: column;
                            .morningText__teacher, .morningText__subject{
                                flex: 1;
                                text-align: center;
                                font-size: 18px;
                                font-family: "Poppins";
                                font-weight: 600;
                            }
                        }
                    }
                    .afternoon{
                        flex: 1;
                        display: flex;
                        flex-direction: column;
                        .afternoonTime{
                            flex: 1;
                            padding: 5px 0;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background-color: rgb(0, 22, 122);
                            p{
                                color: white;
                                font-size: 18   px;
                                font-weight: 700;
                                text-align: center;
                                font-family: "Poppins";
                            }
                        }
                        .afternoonText{
                            background-color: rgb(0, 195, 255);
                            flex: 2;
                            display: flex;
                            flex-direction: column;
                            .afternoonText__teacher, .afternoonText__subject{
                                flex: 1;
                                text-align: center;
                                font-size: 18px;
                                font-family: "Poppins";
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
        .emptyContent{
            display: flex;
            flex-direction: column;
            width: 15%;
            p{
                font-family: "Poppins";
                font-size: 25px;
                height: 40px;
                text-align: center;
            }
            div{
                border-right: 1px solid black;
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                background-color: rgb(155, 253, 168);
                height: 100%;
            }
        }
    }
}
