{% extends 'base.html.twig' %}

{% block title %}Hello FinalViewController!
{% endblock %}

{% block body %}

	<section id="finalView">
		<div class="todaySchedule">
			{% include "final_view/b1/index.html.twig"  %}
			{% include "final_view/b2/index.html.twig"  %}
			{% include "final_view/b3/index.html.twig"  %}
		</div>
	</section>
{% endblock %}
