<div class="morning">
	<div class="morningTime">
		<p>
			09:00 - 12:00
		</p>
	</div>
	<div class="morningText">
		<p class="morningText__teacher">{{ B3[0].schedule.name == 'Matin' ? B3[0].teacher : B3[1].teacher }}
		</p>
		<p></p>
		<p class="morningText__subject">{{ B3[0].schedule.name == 'Matin' ? B3[0].subject : B3[1].subject }}
		</p>
		<p></p>
	</div>
</div>
<div class="afternoon">
	<div class="afternoonTime">
		<p>
			13:00 - 16:00
		</p>
	</div>
	<div class="afternoonText">
		<p class="afternoonText__teacher">{{ B3[0].schedule.name == 'Après_midi' ? B3[0].teacher : B3[1].teacher }}
		</p>
		<p></p>
		<p class="afternoonText__subject">{{ B3[0].schedule.name == 'Après_midi' ? B3[0].subject : B3[1].subject }}
		</p>
		<p></p>
	</div>
</div>
